<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ultimate.englishgrammarquiz">

    <uses-permission android:name="android.permission.INTERNET" />



    <application

        android:name="com.ultimate.englishgrammarquiz.MyApplications"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:exported="false"
        android:theme="@style/AppTheme">

        <activity android:name="com.ultimate.englishgrammarquiz.activity.MainActivity"
            android:parentActivityName="com.ultimate.englishgrammarquiz.StartActivity"
            />
        <activity
            android:name="com.ultimate.englishgrammarquiz.StartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"
            tools:ignore="IntentFilterExportedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ultimate.englishgrammarquiz.activity.QuestionActivity"
            android:noHistory="true"
            android:parentActivityName="com.ultimate.englishgrammarquiz.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ultimate.englishgrammarquiz.activity.ResultActivity"
            android:parentActivityName="com.ultimate.englishgrammarquiz.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ultimate.englishgrammarquiz.activity.PrivacyWebview"
            android:parentActivityName="com.ultimate.englishgrammarquiz.activity.SettingSectioned"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ultimate.englishgrammarquiz.activity.SettingSectioned"
            android:parentActivityName="com.ultimate.englishgrammarquiz.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>